body {
	margin: 0;
	padding: 0;
}

div {
	width: 200px;
	height: 200px;
	position: relative;
}

.red {
	background: #ee3e64;
	left: 0;
	top: 0;
}

.blue {
	background: #44accf;
	position: absolute;
	right: 880px;
	top: 200px; 
}

.green {
	background: #b7d84b;
	left: 0;
	bottom: 0;
}

.yellow {
	background: #FFFF00;
	right: 0;
	bottom: 0;
}